.titulo-pecas{
  margin-top: 20px;
  justify-content: center;
  display: flex;
  font-size: 1.0em;
  font-family: monospace;
  margin-bottom: 15px;
}

.html-login{
  display: flex;
  justify-content: center;
  width: 250px;
}
.margem-cadastro{
  margin-top: 10px;
  margin-bottom: 80px;
}
.dados{
  display: flex;
  flex-direction: column;
}
.texto-cadastro{
  font-size: 0.7em;
}
.input-estilo{
  padding: 4px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  margin-bottom: 15px;
}
.button-cadastro{
  padding: 4px 60px;
  color: #fff;
  background-color: #0e022f;
  /* border-color: #122b40; */
  border: 1px solid transparent;
  border-radius: 4px;
}
.selectVia{
  margin-bottom: 20px;
}
.dois-blocos{
  display: flex;
  justify-content: center;
}
.limite{
  width: 250px;
  height: 20px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
}
.preenchido{ 
  height: 20px;
  background: #b6abd4;
  color: #383535;
}