body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.titulo{
  display: flex;
  justify-content: center;  
  font-variant: small-caps;
  font-size: 25px;
  background: #0e022f;
  color: #fff;
  padding: 1em;
}