.titulo-pecas{
    margin-top: 20px;
    justify-content: center;
    display: flex;
    font-size: 1.5em;
    font-family: monospace;
}

.group-pecas{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.alerta-red{
    color: #f00;
    margin-right: 10px;
}

.alerta-yellow{
    color: #ffcc00;
    margin-right: 10px;
}
.fundo-aviso-yellow{
    margin-top: 5px;
    justify-content: center;
    display: flex;
    background: #e6ea69;
    padding: 3px;
    border-radius: 4px;
}

.fundo-aviso-red{
    margin-top: 5px;
    justify-content: center;
    display: flex;
    background: pink;
    padding: 3px;
    border-radius: 4px;
}

.rectangle{
    width: 200px;
    margin: 50px;
    font-size: 0.8em;
    background: #fff;
    border: 1px solid #0e022f;
    border-radius: 4px;
    padding: 10px;
}